a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
/* a:hover{
    text-decoration: underline;
    color: blue;
} */
.active{
    color : red
}
.activeNav{
    text-decoration: underline;
    color: blue;
}